<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=3, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div class="menu-bar">
      <ul>
        <li class="active">
          <a href="home"><i class="fa-solid fa-house-chimney"></i>Home</a>
        </li>
        <li>
          <a href="/aboutus"><i class="fa-solid fa-circle-info"></i>About Us</a>
        </li>
        <li>
          <a href="stream">STREAMS</a>
          <div class="sub-menu-1">
            <ul>
              <li>
                <a href="/stream">ENGINEERING</a
                ><i class="fa-solid fa-angle-right"></i>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="suggestions"
            ><i class="fa-solid fa-lightbulb"></i>SUGGESTIONS</a
          >
        </li>
        <li>
          <a href="contactus"
            ><i class="fa-solid fa-address-book"></i>CONTACT US</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
