<%- include('partials/head') %>
<link rel="stylesheet" href="aboutus.css" />
  <body>

    <%- include('partials/navbar') %>
      <div class="main">
        <div class="description">
          <h1>ABOUT US</h1>
          <p>
            As the start of the pandemic has trigerred increase in online learning the students demand of online pdfs of
            books has also increased.
            This website is designed for making available all the softcopy of various textbooks at one place.
            Just enter
            Your stream and college name
            and you will have all the textbooks that you want at your fingertips. You can also have links of websites
            from
            where you can buy the textbooks
            Please give your valuable suggestions of textbooks to include in our website. Finally, don't forget to give
            your reviews adout the book that
            we have on our website to sort available material as per user-experience.
          </p>
        </div>
      </div>
  </body>

  </html>