<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
      <h1>CONTACT DETAILS</h1>
      <b>
        <ul>
          <li>Dhruv Patel <br>Email: dvpatel_b21@el.vjti.ac.in<br>Contact no. 9867838790</li>
          <li>Nalin Kayal <br>Email: nvkayal_b21@el.vjti.ac.in <br>Contact no. 9819785437></li>
          <li>Shubham Sale <br>Email: srsale_b21@el.vjti.ac.in <br>Contact no. 8169602063></li>
          <li>Sachin Vishvakarma <br>Email: ssvishvakarma_b21@el.vjti.ac.in <br>Contact no. 8369184472></li>


        </ul>
      </b>
  </body>

</html>