<%- include('partials/head') %>
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <body>

        <%- include('partials/navbar') %>
        <div class="transparent">
             <p><b>AN INVESTMENT IN KNOWLEGDE PAYS THE BEST INTEREST</b> <br> <b>-BENJAMIN FRANKLIN</b></p>
        </div>


    </body>

    </html>
    