<%- include('partials/head') %>
<link rel="stylesheet" href="/home.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<!--font for class content  -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap"
  rel="stylesheet"
/>

<body>
  <%- include('partials/navbar') %>
  <div class="content">
    <p>WELCOME TO<br />Textbooks of all streams are available here</p>
  </div>
</body>
