<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
      <form action="" class="form">
        <p>ANY SUGGESTIONS?
        <p>
          <textarea name='suggestions' rows="8" cols="50"
            placeholder="Type your suggestions here"></textarea><br><br><br>
        <p>ANY BOOKS THAT YOU WANT US TO UPLOAD?</p>
        <textarea name='bookname' rows="1" cols="50" placeholder="Name of Book"></textarea><br><br><br>
        <p>ENTER THE NAME OF AUTHOR</p>
        <textarea name='bookauthor' rows="1" cols="50" placeholder="Name of author"></textarea>
      </form>
  </body>

</html>