@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
}

* {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
}

.main {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    padding: 30px 100px;
    border: solid black 5px;
    margin-top: 50px;
    color: white;
    background-color: black
}

p {
    font-size: 15px;
    font-weight: 800;

}

p:after {
    content: "";
    height: 5px;
    width: 225px;
    display: block;
    margin: auto;
}
