.form {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.R1 {
    
    margin-left: 50px;
    height: 150px;
}
.R2 {
    
    margin-left: 50px;
    height: 150px;
}
.Book1{
    margin-left:25px
}
